Source: libimage-scale-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7),
 perl,
 libtest-nowarnings-perl,
 libgif-dev,
 libpng12-dev,
 libjpeg62-dev
Maintainer: Carl Fürstenberg <carl@excito.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Image-Scale/

Package: libimage-scale-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: Fast, high-quality fixed-point image resizing
 Image::Scale implements several resizing algorithms with a focus on low
 overhead, speed and minimal features. Algorithms available are:
 .
 GD's copyResampled (floating-point)
 .
 GD's copyResampled fixed-point (useful on embedded devices/NAS devices)
 .
 GraphicsMagick's assortment of resize filters (floating-point)
 .
 GraphicsMagick's Triangle filter in fixed-point
 .
 Supported image formats include JPEG, GIF, PNG, and BMP for input, and JPEG
 and PNG for output.
 .
 This module came about because we needed to improve the very slow performance
 of floating-point resizing algorithms on platforms without a floating-point
 unit, such as ARM devices like the SheevaPlug, and the Sparc-based ReadyNAS
 Duo. Previously it would take many seconds to resize using GD on the ReadyNAS
 but the conversion to fixed-point with a little assembly code brings this
 down to the range of well under 1 second.
